* {
  margin: 0;
  padding: 0;
}

.Task {
  background-color: #35353d;
  width: 100%;
  border-radius: 5px;
  display: flex;
  padding: 5px;
  justify-content: space-between;
  margin-bottom: 10px;
}

.col-one {
  margin-top: -5px;
}

.col-two {
  width: 100%;
}

.col-three {
  margin-top: -5px;
}

.TaskTopic {
  color: #fff;
  font-family: Asap;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-align: initial;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  -webkit-box-orient: vertical;
  padding: 2px;
}

.TaskContent {
  color: #fff;
  font-family: Asap;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  -webkit-box-orient: vertical;
  padding: 2px;
}

.TimeDate {
  font-family: Asap;
  font-style: italic;
  font-weight: bold;
  font-size: 10px;
  line-height: 9px;
  text-align: justify;
  color: #298c68;
  padding: 2px;
}
